---
import PageLayout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
import SourceNote from "../components/SourceNote.astro";
import { site } from "../content/site";

const lead = "Volunteer opportunities to contribute to SIGMETRICS activities, committees, and the flagship conference.";
---
<PageLayout pageTitle="Volunteering" lead={lead}>
  <Section title="Expression of interest">
    <p>
      SIGMETRICS periodically offers opportunities for community members to volunteer. To express interest, email
      <span class="kbd"> volunteer@sigmetrics.org</span> with:
    </p>
    <ul>
      <li>Name, occupation, affiliation</li>
      <li>ACM membership number (and whether you are registered as a SIGMETRICS member)</li>
      <li>Brief outline of service experience</li>
      <li>Position or committee of interest (e.g., SIG committee service, conference organizing/program committees, communications)</li>
    </ul>
    <SourceNote href={site.originals.volunteering} />
  </Section>
</PageLayout>
