---
import PageLayout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
---
<PageLayout pageTitle="ACM OpenTOC" lead="Open access table of contents resources.">
  
  <Section title="OpenTOC">
    <p>Add links and descriptions for OpenTOC-related resources used by SIGMETRICS members.</p>
  </Section>

</PageLayout>
