---
import PageLayout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
---
<PageLayout pageTitle="Diversity, Equity & Inclusion" lead="Community commitments and resources.">
  
  <Section title="DEI">
    <p>Share DEI initiatives, reporting channels, and resources here.</p>
  </Section>

</PageLayout>
