---
import PageLayout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
---
<PageLayout pageTitle="Frequent Authors" lead="Community statistics and publication history highlights.">
  
  <Section title="Overview">
    <p>Use this page for frequent author lists and related metrics.</p>
  </Section>

</PageLayout>
