---
import PageLayout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
---
<PageLayout pageTitle="History" lead="A timeline of SIGMETRICS milestones.">
  
  <Section title="Timeline">
    <p>Add a chronological history here (years, events, chairs, conference locations, etc.).</p>
  </Section>

</PageLayout>
