---
import PageLayout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
---
<PageLayout pageTitle="Newsletter" lead="SIGMETRICS newsletter issues and archives.">
  
  <Section title="Archive">
    <p>List newsletter issues by year and link PDFs or pages.</p>
  </Section>

</PageLayout>
