---
import PageLayout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
---
<PageLayout pageTitle="Procedures" lead="Policies, bylaws, and operational procedures.">
  
  <Section title="Policies & Bylaws">
    <p>Publish SIGMETRICS procedures here (bylaws, elections, awards process, etc.).</p>
  </Section>

</PageLayout>
